<div class="row">
  <div class="col-md-12">
    <h3>Reports</h3>
    <a href="reports/new" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      New report
    </a>
    <hr/>
  </div>
  <div class="col-md-12">
    <div id="react-app"></div>
  </div>
  <script id="reports" type="application/json">{{{reports}}}</script>
  <script src="../js/client/reports/index.js"></script>
</div>
