<script id="initialContent" type="application/json">{{{initialContent}}}</script>
<script id="sqlId" type="application/json">{{{sqlId}}}</script>
<div id="sql-input-result-app"></div>
<script>
  reports_show()
</script>
