<div class="row">
  <h3>Reports</h3>
  <hr/>
  <div id="react-app"></div>
  <script id="rows" type="application/json">{{{rows}}}</script>
  <script id="columns" type="application/json">{{{columns}}}</script>
</div>
