<div class="row">
  <h3>Reports</h3>
  <hr/>
  <div class="table-responsive">
    <table class="table table-striped">
      {{#each results}}
        <tr>
          {{#each this}}
          <td>{{this}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </table>
  </div>
</div>
